
// To import Sass files, you first need to install node-sass.
// Run `npm install node-sass` or `yarn add node-sass` inside your workspace.

.isPublic{
  border-bottom: 1px solid currentColor;

  &.isPublicYes{
    color:red;
  }
  
  &.isPublicNo{  
    color:green;
  }
  

}